.layoutContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #07051A;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  padding-right: 200px;
}
